{% extends 'master/base.html' %}
{% load static %}

{% block content %}
<title>Contact Us</title>
<div class="container">
    <div class="row justify-content-center">
        <table>
            <tr>
                <td><h1>Contact Us</h1></td>
            </tr>
            <tr>
                <td>Email:</td>
                <td>
                    tmnctan001@sim.edu.sg
                </td>
            </tr>
            <tr>
                <td>Phone Number:</td>
                <td>
                    +65 6123 4567
                </td>
            </tr>
            <tr>
                <td>Location:</td>
                <td>
                    Sembawang Drive Blk 123 #01-03
                </td>
            </tr>
            <tr>
                <td>Postal Code:</td>
                <td>
                    Singapore 750123
                </td>
            </tr>
            <tr>
                <td>Closest MRT:</td>
                <td>
                    Sembawang
                </td>
            </tr>
            <tr>
                <td>Closest Bus:</td>
                <td>
                   858, 859, 962
                </td>
            </tr>
        </table>
    </div>
</div>

{% endblock content %}